{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cards/card-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-details">
    <h1>Name: {{ card.name }}</h1>
    <h2>Nation: {{ card.nation }}</h2>
    <h2>Position: {{ card.position }}</h2>
    <h2>Team: {{ card.team }}</h2>
    <div class='card-actions'>
      <a href="{% url 'cards_update' card.id %}"><button class='btn-submit'>Edit</button></a>
      <a href="{% url 'cards_delete' card.id %}"><button class='btn-submit'>Delete</button></a>
    </div>
  </div>
</section>

{% endblock %}